<main class="index">
    <div class="container p-4 m-4">
        <h3 class="mb-1">Welcome to</h3>
        <h1 class="mb-5">K1N0C0M | CONTROL</h1>
    </div>
    <header class="masthead d-flex">
        <div class="container">
            <a href="/control/inicio" class="btn btn-dark">
                Gestiona tu web
            </a>
        </div>
    </header>
</main>